window#DP-5 {
	background-image: url("/home/ismail/dotfiles/.local/share/wall");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
window#DP-7 {
	background-image: url("/home/ismail/dotfiles/.local/share/wall");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
window#eDP-1 {
	background-image: url("/home/ismail/dotfiles/.local/share/wall");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
